/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2018, 11:43:15 AM
    Author     : StephanP
*/

.spacer {
  padding-top: 30px;
  padding-bottom: 10px
}

.query{
  padding-top: 10px;
  padding-bottom: 10px
}

.navbar-laravel{
    background-color:rgb(65,169,73);
    height: 80px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color:rgb(255,255,255);
    height: 80px ;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: normal;    
}img{
        height: 90%;
        object-fit: contain;
        
    }

.nav-link{
    color:rgb(255,255,255) !important;
}

.navigation_header{
  padding-top: 30px;
  padding-bottom: 30px
}

.btn-secondary {
    color: #fff;
    background-color: rgb(65,169,73);
    border-color: rgb(65,169,73);
    }
    
#li_wrapper {
    width: 500px;
    border: 1px solid black;
    overflow: auto;
}
#li_first {
    width: 300px;
    float:left;
    border: 1px solid red;
}
#li_second {
    border: 1px solid green;
     
}
